<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<context:component-scan base-package="com.springbook.biz"></context:component-scan>
	
	
<!-- DataSource 설정 -->
	<!-- properties파일을 가져오기 위해 스프링컨테이너에 등록 -->
	<context:property-placeholder location="classpath:config/database.properties"/>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}"></property>
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}" />
		<property name="maxActive" value="8" />
		<property name="maxIdle" value="8" />
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	
<!-- AOP에 대한 설정 -->

	<!-- 어노테이션 사용시 자동으로 설정해줌 -->
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	
	<!-- 1. 빈에 추가 (객체 생성)  -->
	<!-- 
	<bean id="log" class="com.springbook.biz.common.Log4jAdvice"></bean> 
	<bean id="log" class="com.springbook.biz.common.Log4jAdvice"></bean>		
	<bean id="logBefore" class="com.springbook.biz.common.BeforeAdvice"></bean>
	<bean id="afterThrowing" class="com.springbook.biz.common.AfterThrowing"></bean>
	<bean id="after" class="com.springbook.biz.common.AfterAdvice"></bean>
	<bean id="around" class="com.springbook.biz.common.AroundAdvice"></bean>
	 -->
	
	
	<!-- 2. Log4jAdvice를 공통관심사(AOP)로 등록 -->
	<!-- 
	<aop:config>
		<aop:pointcut expression="execution(* com.springbook.biz..*Impl.*(..))" 
					id="allPointcut"/>
		
		<aop:aspect ref="around"> bean i d 값으로 지정
						실제 공통관심사 메소드					대상 
			<aop:around method="aroundLog" pointcut-ref="allPointcut"/>
		</aop:aspect>
		
	</aop:config> 
	-->

	
</beans>
