body article {
	min-height: 840px;
}

header ul li  {
	padding: 10px;
	font-size: 20px;
}

#list-group li {
	padding: 0;
}

#list-group li a {
	width:200px;
	height:70px;
	text-align:center;
	line-height:50px;
}